.BookNow {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.BookNow-content {
  width: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}


.close-btn:hover{
  color: var(--color-white);
  border: 1px solid var(--color-bg-variant);
  background-color: var(--color-bg-variant);
  transition: var(--transition);
}
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  color: black;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px ;
  cursor: pointer;
}

.form-group button:hover {
  color: var(--color-white);
  border: 1px solid var(--color-bg-variant);
  background-color: var(--color-bg-variant);
  transition: var(--transition);
}
.error-message{
  color: red;
}
/* Trạng thái mặc định của thông báo */
.success-message {
  color: #000;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s, visibility 0.3s;
}

/* Hiển thị thông báo */
.success-message.visible {
  display: block;
  opacity: 1;
  visibility: visible;
}

