.customerOrder-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.customerOder-content {
  position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    overflow-y: auto;
    max-height: 400px;
  }
  .btnOder {
    background-color: #007bff; /* Màu nền nút */
    color: #fff; /* Màu chữ */
    padding: 10px 20px; /* Kích thước nút */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btnOder:hover {
    background-color: #0056b3; /* Màu nền nút khi di chuột qua */
  }